/VolumeCirculo/VolumeCirculo/nbproject/private/
/VolumeCirculo/VolumeCirculo/build/
/ExerciciosAula/ExerciciosAula/nbproject/private/
/ExerciciosAula/ExerciciosAula/build/
/ExerciciosAula/ExerciciosLogica/nbproject/private/
/ExerciciosAula/ExercicioLogica/nbproject/private/
/ExerciciosAula/ExercicioLogica/build/
