/EstudioTattoo/nbproject
/ExerciciosAula/ExercicioLogica/nbproject/private
/EstudioTattoo/test
/EstudioTattoo/build/classes/.netbeans_automatic_build
/EstudioTattoo/build/classes/.netbeans_update_resources
/EstudioTattoo/manifest.mf
/EstudioTattoo/build.xml
/HorasNoCelular/nbproject
/HorasNoCelular/test
/HorasNoCelular/build/classes/.netbeans_automatic_build
/HorasNoCelular/build/classes/.netbeans_update_resources
/HorasNoCelular/manifest.mf
/HorasNoCelular/build.xml
/ExerciciosAula/ExercicioLogica/nbproject
/ExerciciosAula/ExercicioLogica/build
/ExerciciosAula/ExercicioLogica/test
/ExerciciosAula/ExercicioLogica/manifest.mf
/ExerciciosAula/ExercicioLogica/build.xml